body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

table#factvalue-table td.inEdit form {
  display: inline;
}

table#factvalue-table td.inEdit {
  padding-right: 3px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 0px;
}
table#factvalue-table td:not(.inEdit) {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
table#factvalue-table .edit-indicator {
  visibility: hidden;
}
table#factvalue-table.can-edit-cell .edit-indicator {
  visibility: inherit;
}