@import "bootstrap/bootstrap.less";
@import "jquery/jquery-ui.custom.less";

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

table.editable-table {
  .edit-indicator {
    visibility: hidden;
  }
  &.can-edit-cell .edit-indicator {
    visibility: inherit;
  }
}

table#editable-table {
  .sum {
    color: #999999;
    font-style: italic;
  }
}
