@(dimension: Dimension, values: Traversable[(Coordinate, String)], addForm: Form[String])

@import helper._
@implicitField = @{ FieldConstructor(inlineElementConstructor.f) }

@main("Dimension "+dimension.name) {
	<ul>
	  @values.map { v =>
      <li>
        @v._2
      </li>
    }
	</ul>

  @form(routes.Dimensions.addValue(dimension.name), 'class -> "form-inline") {
      @inputText(addForm("value"), 'label -> "Value", 'placeholder -> "New Value")

      <input type="submit" value="Add">
  }
}
