@(fact: Fact, dims: Iterable[Dimension])

@import helper._
@import helper.twitterBootstrap._

@main("Fact "+fact.name) {
  <h2>Dimensions</h2>
	<ul>
	  @fact.dimensions.map { dim =>
      <li>
        <a href="@routes.Dimensions.get(dim.name)">@dim.name</a>
        @form(routes.Facts.removeDimension(fact.name, dim.name)) {
          <input type="submit" value="Remove">
        }
      </li>
    }
	</ul>
	
	@if(!dims.isEmpty) {
	<ul>
    @dims.map { dim =>
      <li>
        @form(routes.Facts.addDimension(fact.name, dim.name)) {
          @dim.name <input type="submit" value="Add">
        }
      </li>
    }
	</ul>
	}

	<h2>Tables</h2>
	<ul>
    @fact.dimensions.flatMap(d1 => fact.dimensions.map((d1, _))).filterNot(v => v._1 == v._2).map { v =>
      <li>
        <a href="@routes.Tables.show(fact.name, v._1.name, v._2.name)">@v._1.name / @v._2.name</a>
      </li>
    }
	</ul>
}
