@(fact: Fact, dims: Iterable[Dimension])

@import helper._

@main("Fact "+fact.name) {
  <h2>Dimensions</h2>
	<ul>
	  @fact.dimensions.map { dim =>
      <li>
        <a href="@routes.Dimensions.get(dim.name)">@dim.name</a>
        @form(routes.Facts.removeDimension(fact.name, dim.name)) {
          <input type="submit" value="Remove">
        }
      </li>
    }
	</ul>
	
	@if(!dims.isEmpty) {
	<h2>Add Dimension</h2>
	<ul>
    @dims.map { dim =>
      <li>
        @form(routes.Facts.addDimension(fact.name, dim.name)) {
          @dim.name <input type="submit" value="Add">
        }
      </li>
    }
	</ul>
	}
}
