@(facts: Iterable[Fact], addForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

@main("Facts") {
	<ul>
	  @facts.map { fact =>
      <li>
        <a href="@routes.Facts.view(fact.name)">@fact.name</a>
        @if(fact.dimensions.isEmpty) {
          (dimensionless)
        } else {
          over:
            <ul class="inline">@fact.dimensions.map { d => <li>@d.name</li> }</ul>
        }
      </li>
    }
	</ul>

  <h2>Add Fact</h2>
  @form(routes.Facts.add) {
      @inputText(addForm("name"))

      <input type="submit" value="Create">
  }
}
