@(domain: String, facts: Iterable[FudimFact[_]], types: List[DataType[_]], addForm: Form[(String,String)])

@import helper._
@implicitField = @{ FieldConstructor(inlineElementConstructor.f) }

@main("Facts", Some(domain)) {
	<ul>
	  @facts.map { fact =>
      <li>
        <a href="@routes.Facts.view(domain, fact.name)">@fact.name</a>
        @if(fact.dimensions.isEmpty) {
          (dimensionless)
        } else {
          over:
            <ul class="inline">@fact.dimensions.map { d => <li>@d.name</li> }</ul>
        }
      </li>
    }
	</ul>

  @form(routes.Facts.add(domain), 'class -> "form-inline") {
      @inputText(addForm("name"), 'label -> "Name", 'placeholder -> "Name of Fact", '_label -> "Name")
      @select(addForm("type"), options=("", "<data type>") :: types.map(t => (t.name, t.name)), '_label -> "Type")

      <input type="submit" value="Add">
  }
}
