@(domain: String, fact: FudimFact[_], dims: Iterable[cube.Dimension], aggrs: List[Aggregation[_]], aggrForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

@main("Fact "+fact.name, Some(domain)) {
  <h2>Dimensions</h2>
	<ul>
	  @fact.dimensions.map { dim =>
      <li>
        <a href="@routes.Dimensions.get(domain, dim.name)">@dim.name</a>
        @form(routes.Facts.removeDimension(domain, fact.name, dim.name)) {
          <input type="submit" value="Remove">
        }
      </li>
    }
	</ul>
	
	@if(!dims.isEmpty) {
	<ul>
    @dims.map { dim =>
      <li>
        @form(routes.Facts.addDimension(domain, fact.name, dim.name)) {
          @dim.name <input type="submit" value="Add">
        }
      </li>
    }
	</ul>
	}
	
	<h2>Aggregation</h2>
	@form(routes.Facts.setAggregation(domain, fact.name)) {
	  @select(aggrForm("aggregation"), options=aggrs.map(a => (a.name, a.name)), '_label -> "Aggregation")
	  <input type="submit" value="Save">
	}

	<h2>Tables</h2>
	<ul>
    @fact.dimensions.flatMap(d1 => fact.dimensions.map((d1, _))).filterNot(v => v._1 == v._2).map { v =>
      <li>
        <a href="@routes.Tables.show(domain, fact.name, v._1.name, v._2.name)">@v._1.name / @v._2.name</a>
      </li>
    }
	</ul>
}
