@(domain: FudimDomain, dim: FudimDimension, facts: List[FudimFact[_]], factData: List[cube.Point => Option[String]])

@import cube._

@main(s"Facts Table on ${dim.name}", Some(domain.name)) {
    <table id="facts-table" class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th class="dimension">@dim.name</th>
                @facts.map { fact =>
                    <th class="fact">@fact.name</th>
                }
            </tr>
        </thead>
        <tbody>
        @dim.values.map { dimValue =>
            @defining(Point(dimValue._1)) { point =>
                <tr>
                    <th>@dimValue._2</th>
                    @factData.map { f =>
                        <td>@f(point).getOrElse("")</td>
                    }
                </tr>
            }
        }
        </tbody>
    </table>
    }
    (Nil)
