@(fact: Fact, cube: _root_.cube.EditableCube[String], d1: Dimension, d2: Dimension, filter: DimensionsFilter, sumd1: Boolean, sumd2: Boolean)

@import helper._
@import helper.twitterBootstrap._
@import support.JsHelper._
@import Point._

@main("Fact "+fact.name+" ("+d1.name+" / "+d2.name+")") {

  <ul class="unstyled form-horizontal">
    @filter.restrictions.map { r =>
      <li>
          <div class="control-group">
            <label class="control-label" for="@r.dimension.name">@r.dimension.name</label>
            <div class="controls">
              <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  @r.label
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                @filter.availableRestrictionsFor(r.dimension).map { ar =>
                  <li>
                    <a href="@routes.Tables.show(fact.name, d1.name, d2.name, filter.change(ar).point, sumd1, sumd2)">@ar.label</a>
                  </li>
                 }
                </ul>
              </div>
            </div>
         </div>
      </li>
    }
    <li>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" @if(sumd1){checked} href="@routes.Tables.show(fact.name, d1.name, d2.name, filter.point, !sumd1, sumd2)" class="summarize">
            Summarize @d1.name
          </label>
        </div>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" @if(sumd2){checked} href="@routes.Tables.show(fact.name, d1.name, d2.name, filter.point, sumd1, !sumd2)" class="summarize">
            Summarize @d2.name
          </label>
        </div>
      </div>
    </li>
  </ul>

  <table id="factvalue-table" class="table table-striped table-hover table-condensed" point="@serializePoint(filter.point)" fact="@urlEncode(fact.name)">
    <thead>
      <tr>
        <th><i class="icon-edit edit-indicator"></i></th>
      @d1.values.zipWithIndex.map { x =>
        <th id="x-@x._2" point="@serializePoint(x._1._1)">@x._1._2</th>
      }
      @if(sumd2) {
        <th class="sum"></th>
      }
      </tr>
    </thead>
    <tbody>
    @d2.values.zipWithIndex.map { y =>
      <tr>
        <th id="y-@y._2" point="@serializePoint(y._1._1)">@y._1._2</th>
      @d1.values.zipWithIndex.map { x =>
        @defining(filter.point + x._1._1 + y._1._1) { p =>
        <td id="c-@x._2-@y._2" @if(cube.isSettable(p)) {contentEditable}>@cube.get(p).getOrElse("")</td>
       }
      }
      @if(sumd2) {
        <td class="sum" point="@serializePoint(y._1._1)">@cube.get(filter.point + y._1._1).getOrElse("")</td>
      }
      </tr>
    }
    @if(sumd1) {
      <tr class="sum">
        <th></th>
      @d1.values.map { x =>
         <td class="sum" point="@serializePoint(filter.point + x._1)">@cube.get(filter.point + x._1).getOrElse("")</td>
      }
      @if(sumd2) {
        <td class="sum" point="@serializePoint(filter.point)">@cube.get(filter.point).getOrElse("")</td>
      }
      </tr>
    }
    </tbody>
  </table>

}(List("table.js"))